header{
    /* display: block; */
    padding: 40px;
    background-color: rgb(252, 169, 183);
    text-align: center;
    color: black;
}


.firstpagebody{
    background-color: white;
}

.button{
    background: white;;
}
body{
    background-color: #f1f0f0; 
    color: #7d7f7c	;
    font-family: sans-serif;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tcenter{
        margin-left: auto;
    margin-right: auto;
}

h2, h1, h5{
    text-align: center;
}


h4, h5{
    margin-top: -5px;
}


a{
    background-color: rgb(252, 169, 183);
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 20px;
    text-decoration: none; 
}

a:hover{
    background-color: rgb(255, 198, 228);
}

a:active{
    background-color: #e75480; 
}

.readmore{
    background-color: transparent;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
}

figure{
    position: relative;
}

#boi, #boi2{
    border-radius: 50px;
    border-style: solid;
    border-color: black;

}

figcaption{
    display: none;
    position: aboslute;
    block-size: auto;
    text-align: center;

}

figure:hover figcaption{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td:hover figcaption{
    display:block;
}

aside{
    width: 20%;
    display: block;
    float: right;
    font-size: x-small;
    margin: 10px;
    padding: 10px;
    background-color: lightgray;
}

footer{
    font-size: xx-small;
    text-align: right;

}