@import url(https://fonts.googleapis.com/css?family=Raleway);

*{
    font-family: Raleway;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

header{
    background-image: url(https://preview.redd.it/9rk9xlzf1bw31.jpg?width=1318&format=pjpg&auto=webp&s=57bdd6dce65c6ffcb82903134545e3dd62dd206f);
    height: 150px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: .7;
}

.firstwords{
    height: 100%;
    width: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}


.links{
    display: flex;
    justify-content: space-between;
}

img{
    display: none; 
    margin-left: auto;
    margin-right: auto;
}

/* .end img{
    display: inline-grid;
    justify-content: end;
    width: 10%;
}

.start img{
    display: inline-grid;
    justify-content: end;
    width: 10%;
} */

.fly:hover img{
    display: flex;
}

.pizza:hover img{
    display: flex;
}

.leaves:hover img{
    display: flex;
}


.spotlight:hover img{
    display: flex;
}

.box:hover img{
    display: flex;
}

.west:hover img{
    display: flex;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.end{
    display: flex;
    justify-content: flex-end;
}


.navbutton{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: x-large;
}


footer{
    position: absolute;
    bottom: 0;
    right: 0;
}

a{
    text-decoration: none;
    color: black;
}